<footer class="space-pt footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-contact-address">
            <h6 class="text-white mb-4">Where To Find Us </h6>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-map-signs mt-2"></i>
                <div class="address-info">
                  <h6>17504 Carlton Cuevas Rd </h6>
                  <p>Gulfport, MS, 39503 </p>
                </div>
              </li>
              <li>
                <i class="far fa-envelope mt-2"></i>
                <div class="address-info">
                  <h6>test</h6>
                  <p>Mon-Fri 8:30am-6:30pm </p>
                </div>
              </li>
              <li>
                <i class="fas fa-headphones-alt mt-2"></i>
                <div class="address-info">
                  <h6>+(704) 279-1249 </h6>
                  <p>24 X 7 online support </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="follow-us mt-4 mt-md-5">
            <h6 class="text-white mb-4">Follow Us </h6>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-8  mt-4 mt-md-0">
          <h3 class="text-white mb-3">Sign up for our newsletter
</h3>
          <p class="lead  mb-4 mb-md-5">Sign up to our Newsletter to get the latest news and offers.</p>
          <div class="row">
            <div class="col-sm-9">
              <form class="form-inline input-with-btn">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </form>
            </div>
          </div>
          <div class="footer-link">
            <div class="row">
              <div class="col-sm-4 mt-4 mt-md-5">
                <h6 class="text-white">Discover</h6>
                <ul class="list-unstyled">
                  <li><a href="#"><span>About us</span></a></li>
                  <li><a href="#"><span>Contact us</span></a></li>
                  <li><a href="#"><span>Cookies policy</span></a></li>
                </ul>
              </div>
              <div class="col-sm-8 mt-4 mt-md-5">
                <h6 class="text-white">Services</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="list-unstyled">
                      <li><a href="#"><span>Accounting Outsourcing</span></a></li>
                      <li><a href="#"><span>Acquisitions Consulting</span></a></li>
                      <li><a href="#"><span>Financial Planning</span></a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list-unstyled">
                      <li><a href="#">Investment Management</a></li>
                      <li><a href="#"><span>Payroll Outsourcing</span></a></li>
                      <li><a href="#"><span>Taxation Advisory</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0 text-white"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="index.html"> Finaxo </a> All Rights Reserved </p>
          </div>
          <div class="col-md-6  mt-2 mt-md-0 copyright text-md-end">
            Develop and design by <a href="#"> Potenza Global Solutions</a>
          </div>
        </div>
      </div>
    </div>
  </footer>