<form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
  
      <div *ngIf="selectedPack.cin">
        <label for="cin">CIN PDF:</label>
        <input type="file" formControlName="cin" id="cin" (change)="onFileSelected($event, 'cin')" enctype="multipart/form-data" >
      </div>
      <div *ngIf="selectedPack.possession">
        <label for="possession">Possession PDF:</label>
        <input type="file" formControlName="possession" id="possession" accept="application/pdf">
      </div>
      <div *ngIf="selectedPack.diploma">
        <label for="diploma">Diploma PDF:</label>
        <input type="file" formControlName="diploma" id="diploma" accept="application/pdf">
      </div>
      <div *ngIf="selectedPack.work">
        <label for="work">Work PDF:</label>
        <input type="file" formControlName="work" id="work" (change)="onFileSelected($event, 'work')"  onchange="console.log(event.target.files)" enctype="multipart/form-data">
      </div>
      <div *ngIf="selectedPack.bankstat">
        <label for="bankstat">Bank Statement PDF:</label>
        <input type="file" formControlName="bankstat" id="bankstat" accept="application/pdf">
      </div>
      <div >
        <label for="state">State PDF:</label>
        <input type="text" formControlName="state" id="state" >
      </div>
    
    <div>
      <label for="amount">Amount:</label>
      <input type="number" formControlName="amount" id="amount" >
    </div>
    <div>
      <label for="duration">Duration (in months):</label>
      <input type="number" formControlName="duration" id="duration">
    </div>
    <div>
      <label for="start">Start Date:</label>
      <input type="date" formControlName="start" id="start">
    </div>
    
    <button type="submit">Submit</button>
    
  </form>
  <button (click)="onClick()">test</button>
  <button (click)="login()">test2</button>
  